body{
    margin: 0;
    padding: 0;
}

#scene {
    width: 100vw;
    height: 100vw;
    position:absolute;
    overflow:hidden;

}


#background {

    width: 100%;
    height: 39.3%;

    background-image: url(background.svg);
    background-size: 100%;

}

#middleground{
    background-image: url(middleground.svg);
    background-size: 100%;
    width: 100vw;
    height: 20vw;
}

#cat{
    height: 12vw;
    width: 50vw;
    background-image: url(walk_cat.svg);
    background-size: 800% 100%;

}

#walking_cat{
    animation-name: cat;
    animation-duration: 2s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;

}

@keyframes cat {
    0%{
     background-position: 0  0;
    }

    100%{
        background-position: -800% 0%;
    }
}
